@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("/montserrat-v14-latin_cyrillic-500.bd5a7a4e.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-500.2b237b66.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("/montserrat-v14-latin_cyrillic-600.78bfcd30.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-600.9ab243fb.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("/montserrat-v14-latin_cyrillic-700.c08a7122.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-700.47587240.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("/montserrat-v14-latin_cyrillic-800.d8a484f6.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-800.d7b51b6d.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.08em;
  color: #111518;
}

a {
  text-decoration: none;
  display: block;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) and (max-width: 577px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 578px) and (max-width: 767px) {
  .container {
    width: 578px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1353px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1354px) {
  .container {
    width: 1354px;
  }
}

.header {
  position: relative;
  background-image: url(/header-bg-img-mobile.1433c666.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -290px;
}
@media screen and (max-width: 1353px) {
  .header {
    background-image: url(/header-bg-img-tablet.129a2dad.png);
    background-position-y: -200px;
  }
}
@media screen and (min-width: 1354px) {
  .header {
    background-image: url(/header-bg-img-desktop.d56ff121.png);
    background-position-y: -140px;
  }
}
@media screen and (max-width: 767px) {
  .header .container {
    width: 100%;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.header-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 80px;
  height: 28px;
  color: #111518;
}
@media screen and (min-width: 767px) {
  .header-logo {
    width: 128px;
    height: 45px;
  }
}
.header-logo .header-text-logo {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 767px) {
  .header-logo .header-text-logo {
    font-size: 26px;
    line-height: 1.23;
  }
}
.header-logo .header-paragraph {
  margin-top: 3px;
  flex-direction: column;
  font-weight: bold;
  font-size: 0.01em;
  line-height: 1.25;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 767px) {
  .header-logo .header-paragraph {
    font-size: 8px;
    letter-spacing: 0.18em;
  }
}
@media screen and (min-width: 767px) {
  .header-logo .header-paragraph .paragraph__span {
    color: #ff6b09;
  }
}
.header-logo .header-svg {
  width: 13.93px;
  height: 19.38px;
  margin: 0 3.8px 0 4.5px;
}
@media screen and (min-width: 767px) {
  .header-logo .header-svg {
    width: 22px;
    height: 30px;
    margin: 0 3px;
  }
}

.header__nav-desktop {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 1353px) {
  .header__nav-desktop {
    display: none;
  }
}
.header__nav-desktop .header__nav-desktop-items + .header__nav-desktop-items {
  margin-left: 40px;
}
.header__nav-desktop .header__nav-desktop-items {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.21;
}
.header__nav-desktop .header__desktop-links {
  color: #b9b9b9;
}
.header__nav-desktop .header__desktop-links:hover, .header__nav-desktop .header__desktop-links:focus {
  color: #ff6b09;
}

.header-logo-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 80px;
  height: 28px;
  color: #ffffff;
}
@media screen and (min-width: 767px) {
  .header-logo-menu {
    width: 128px;
    height: 45px;
  }
}
.header-logo-menu .header-text-logo-menu {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 767px) {
  .header-logo-menu .header-text-logo-menu {
    font-size: 26px;
    line-height: 1.23;
  }
}
.header-logo-menu .header-paragraph-menu {
  margin-top: 3px;
  flex-direction: column;
  font-weight: bold;
  font-size: 0.01em;
  line-height: 1.25;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 767px) {
  .header-logo-menu .header-paragraph-menu {
    font-size: 8px;
  }
}
.header-logo-menu .header-svg {
  width: 13.93px;
  height: 19.38px;
  margin: 0 3.8px 0 4.5px;
}
@media screen and (min-width: 767px) {
  .header-logo-menu .header-svg {
    width: 22px;
    height: 30px;
    margin: 0 3px;
  }
}

.button-menu-open {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}
.button-menu-open .button-burger {
  width: 20.5px;
  height: 12px;
}
@media screen and (min-width: 1353px) {
  .button-menu-open {
    display: none;
  }
}

.button-menu-close {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}
.button-menu-close .button-burger-close {
  width: 27px;
  height: 27px;
  fill: #ffffff;
}

.header-site-nav.is-open {
  pointer-events: visible;
  opacity: 1;
}

.header-site-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  pointer-events: none;
  opacity: 0;
  z-index: 50;
  pointer-events: none;
}
.header-site-nav .header-nav-list {
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  width: 260px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 767px) {
  .header-site-nav .header-nav-list {
    padding-top: 72px;
  }
}
.header-site-nav .header-nav-list .header-nav-items-container + .header-nav-items-container {
  margin-top: 20px;
}
.header-site-nav .header-nav-list .header-nav-items {
  display: inline;
  color: #ffffff;
}
.header-site-nav .header-nav-list .header-nav-items:hover, .header-site-nav .header-nav-list .header-nav-items:focus {
  color: #ff6b09;
}
.header-site-nav .site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-site-nav .site-nav-container {
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header-site-nav .site-nav-container {
    width: 100%;
  }
}

.header-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 48px;
  margin: 50px auto 0;
  border: 2px solid #ff6b09;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ff6b09;
}
.header-nav-link:hover, .header-nav-link:focus {
  background-color: #ff6b09;
  color: #ffffff;
}
@media screen and (min-width: 767px) {
  .header-nav-link {
    display: none;
  }
}

.header-nav-link-tablet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 48px;
  margin-right: 40px;
  border: 2px solid #ff6b09;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ff6b09;
}
.header-nav-link-tablet:hover, .header-nav-link-tablet:focus {
  background-color: #ff6b09;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .header-nav-link-tablet {
    display: none;
  }
}
@media screen and (min-width: 1353px) {
  .header-nav-link-tablet {
    margin: 0;
    width: 336px;
    height: 70px;
    font-size: 14px;
    line-height: 1.21;
  }
}

.header__content-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 115px;
}
@media screen and (min-width: 1353px) {
  .header__content-list {
    padding-bottom: 148px;
  }
}
.header__content-list .header_content-paragraph {
  padding-left: 68.82px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 1353px) {
  .header__content-list .header_content-paragraph {
    padding-left: 76px;
  }
}
@media screen and (min-width: 1353px) {
  .header__content-list .header_content-paragraph {
    padding-left: 82px;
    font-size: 20px;
    line-height: 1.65;
  }
}
@media screen and (min-width: 767px) {
  .header__content-list {
    flex-direction: row;
  }
}
@media screen and (min-width: 767px) {
  .header__content-list .header__content-items + .header__content-items {
    margin-left: 21px;
  }
}

.header__content {
  position: relative;
  padding-top: 50px;
}
@media screen and (min-width: 577px) {
  .header__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 578px) {
  .header__content {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1353px) {
  .header__content {
    padding-bottom: 145px;
  }
}
.header__content .header__paragraph {
  margin-top: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
@media screen and (min-width: 1353px) {
  .header__content .header__paragraph {
    font-size: 20px;
    line-height: 1.65;
  }
}
.header__content .header__subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 1353px) {
  .header__content .header__subtitle {
    font-size: 20px;
    line-height: 1.65;
  }
}
.header__content .header__subtitle .header__attention {
  color: #ff6b09;
}
.header__content .header__hero-img {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 767px) {
  .header__content .header__hero-img {
    top: 70px;
    position: absolute;
    left: calc(50% - 20px);
  }
}
@media screen and (min-width: 1680px) {
  .header__content .header__hero-img {
    position: absolute;
    top: 46px;
    left: calc(50% - 40px);
    width: 842px;
  }
}
.header__content .header__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 767px) {
  .header__content .header__title {
    font-size: 26px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1353px) {
  .header__content .header__title {
    font-size: 58px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 577px) {
  .header__content-text {
    width: 285px;
  }
}
@media screen and (min-width: 1353px) {
  .header__content-text {
    width: 642px;
    padding-top: 75px;
  }
}

@media screen and (min-width: 767px) {
  .header__nav {
    display: flex;
  }
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  width: 100%;
  height: 48px;
  background-color: #ff6b09;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
}
.header__link:hover, .header__link:focus {
  background-color: #ffffff;
  color: #ff6b09;
  border: solid 2px #ff6b09;
}
@media screen and (min-width: 320px) and (max-width: 1353px) {
  .header__link {
    max-width: 280px;
  }
}
@media screen and (min-width: 578px) {
  .header__link {
    width: 280px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1353px) {
  .header__link {
    margin: 0;
    margin-top: 40px;
    width: 354px;
    height: 70px;
    font-size: 14px;
    line-height: 1.25;
  }
}

.header__content-items {
  position: relative;
  z-index: 1;
  width: 216px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1353px) {
  .header__content-items {
    display: flex;
    align-items: center;
  }
}
.header__content-items:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 767px) {
  .header__content-items {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1353px) {
  .header__content-items {
    width: 448px;
  }
}

.header__svg-container {
  position: absolute;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58.9px;
  height: 60px;
  border: solid 2px #ff6b09;
}
@media screen and (min-width: 1353px) {
  .header__svg-container {
    width: 100px;
    height: 102px;
  }
}
.header__svg-container::before {
  position: absolute;
  display: block;
  content: "";
  width: 0.25rem;
  height: 70%;
  background-color: #fff;
  right: -0.188rem;
  top: 50%;
  transform: translateY(-50%);
}
.header__svg-container .header__svg-programm {
  width: 33.2px;
  height: 40px;
}
@media screen and (min-width: 1353px) {
  .header__svg-container .header__svg-programm {
    width: 40.31px;
    height: 46.55px;
  }
}
.header__svg-container .header__svg-learn {
  width: 41.9px;
  height: 41px;
}
@media screen and (min-width: 1353px) {
  .header__svg-container .header__svg-learn {
    width: 46.11px;
    height: 47.38px;
  }
}
.header__svg-container .header__svg-results {
  width: 35px;
  height: 40px;
}
@media screen and (min-width: 1353px) {
  .header__svg-container .header__svg-results {
    width: 41.23px;
    height: 48px;
  }
}

.problems__section {
  position: relative;
  background-color: #111518;
}
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.troubles__help__div {
  height: 545px;
  background-color: #111518;
}
@media screen and (min-width: 578px) {
  .troubles__help__div {
    height: 340px;
  }
}
@media screen and (min-width: 1354px) {
  .troubles__help__div {
    height: 560px;
  }
}
.troubles__help__div .troubles__br-first {
  display: none;
}

.troubles__caption {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
  padding-top: 59.5px;
}
@media screen and (min-width: 768px) {
  .troubles__caption {
    width: 466px;
    padding-left: 22px;
    font-size: 26px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1354px) {
  .troubles__caption {
    padding-top: 100px;
    width: 826px;
    font-size: 46px;
  }
}

.troubles__word {
  color: #ff6b09;
}

.troubles__svg {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0px;
  fill: #414141;
}
@media screen and (max-width: 1353px) {
  .troubles__svg {
    display: none;
  }
}

.troubles__container.section {
  position: absolute;
  z-index: 2;
  width: 100%;
  left: auto;
  right: auto;
  height: 638px;
  bottom: -50%;
}
@media screen and (min-width: 340px) {
  .troubles__container.section {
    width: 100%;
  }
}
@media screen and (min-width: 578px) and (max-width: 767px) {
  .troubles__container.section {
    bottom: -125%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1353px) {
  .troubles__container.section {
    bottom: -138%;
  }
}
@media screen and (min-width: 1354px) {
  .troubles__container.section {
    bottom: -78%;
  }
}

.troubles__chosen {
  margin: 50px 0px 30px 20px;
  max-width: 180px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .troubles__chosen {
    margin: 50px 0px 30px 0px;
    max-width: 100%;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
  }
}
@media screen and (min-width: 1354px) {
  .troubles__chosen {
    display: none;
  }
}

.troubles__chosen_div {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1353px) {
  .troubles__chosen_div {
    padding: 0;
    max-width: 688px;
    height: auto;
  }
}
@media screen and (min-width: 1354px) {
  .troubles__chosen_div {
    max-width: 1354px;
    bottom: 300px;
  }
}
@media screen and (min-width: 768px) {
  .troubles__chosen_div {
    height: auto;
  }
}

.troubles__chosen_ul {
  padding: 20px 14px 20px 30px;
  background-color: #fff;
  font-weight: bold;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 768px) {
  .troubles__chosen_ul {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 109px 26px 98px;
  }
}
@media screen and (min-width: 1354px) {
  .troubles__chosen_ul {
    padding: 70px 112px 62px 114px;
  }
}

.troubles__chosen_li-margin {
  margin-bottom: 20px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .troubles__chosen_li-margin {
    margin-bottom: 20px;
  }
  .troubles__chosen_li-margin:nth-child(2n-1) {
    margin-right: 20px;
  }
  .troubles__chosen_li-margin:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1353px) {
  .troubles__chosen_li-margin {
    margin-bottom: 30px;
  }
  .troubles__chosen_li-margin:nth-child(2n+1) {
    margin-right: 20px;
    width: 236px;
  }
  .troubles__chosen_li-margin:nth-child(2n) {
    width: 225px;
  }
}
@media screen and (min-width: 1354px) {
  .troubles__chosen_li-margin {
    width: calc((100% - 80px) / 3);
    margin-right: 40px;
    margin-bottom: 32px;
  }
  .troubles__chosen_li-margin:nth-child(3n) {
    margin-right: 0px;
  }
  .troubles__chosen_li-margin:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}
.troubles__chosen_li-margin .troubles__chosen_number {
  line-height: 1.649;
  color: #ff6b09;
}
@media screen and (min-width: 320px) and (min-width: 1354px) {
  .troubles__chosen_li-margin .troubles__chosen_number.margin {
    width: calc((100% - 80px) / 3);
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 320px) {
  .troubles__chosen_li-margin .troubles__chosen_number .troubles__chosen_number {
    line-height: 1.649;
    margin: 0;
    color: #ff6b09;
  }
  .troubles__chosen_li-margin .troubles__chosen_number .troubles__chosen_number.margin {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 320px) and (min-width: 1354px) {
  .troubles__chosen_li-margin .troubles__chosen_number .troubles__chosen_number {
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 98px;
  }
}

.troubles__chosen_item {
  font-size: 14px;
  line-height: 1.43;
  color: #111518;
  margin: 0;
}
@media screen and (min-width: 1354px) {
  .troubles__chosen_item {
    font-size: 20px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 577px) {
  .doing__section {
    padding-top: 198px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .doing__section {
    padding-top: 250px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1353px) {
  .doing__section {
    padding-top: 201px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1354px) {
  .doing__section {
    padding-top: 280px;
    padding-bottom: 130px;
  }
}
.doing__section .doing__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
}
@media screen and (min-width: 768px) and (max-width: 1353px) {
  .doing__section .doing__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1354px) {
  .doing__section .doing__title {
    font-size: 46px;
    text-align: left;
    margin-bottom: 50px;
  }
}
.doing__section .doing__subtitle {
  margin-top: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
}
@media screen and (min-width: 1354px) {
  .doing__section .doing__subtitle {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 0;
  }
}
.doing__section .doing__subtitle::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 2px;
  background-color: #ff6b09;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 578px) {
  .doing__section .doing__subtitle::after {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1354px) {
  .doing__section .doing__subtitle::after {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.doing__section .doing__about {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
@media screen and (min-width: 578px) {
  .doing__section .doing__about {
    width: 290px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1354px) {
  .doing__section .doing__about {
    font-size: 18px;
    line-height: 1.55;
    width: 365px;
  }
}
@media screen and (min-width: 768px) {
  .doing__section .doing__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
  }
}
@media screen and (min-width: 1354px) {
  .doing__section .doing__list {
    margin: -10px;
  }
}
.doing__section .doing__item {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 280px;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 578px) and (max-width: 1353px) {
  .doing__section .doing__item {
    max-width: 345px;
    width: 100%;
    height: 345px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1353px) {
  .doing__section .doing__item {
    width: calc((100% - 4 * 10px) / 2);
    margin: 10px;
  }
}
@media screen and (min-width: 1354px) {
  .doing__section .doing__item {
    width: calc((100% - 6 * 10px) / 3);
    max-width: 425px;
    margin: 10px;
    height: 396px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1353px) {
  .doing__section .doing__item:nth-child(-n+4) {
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 767px) {
  .doing__section .doing__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.doing__section .doing__item:hover {
  background-color: #ff6b09;
  fill: #ffffff;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  cursor: pointer;
}
.doing__section .doing__icon {
  margin-top: 30px;
  margin-bottom: 20px;
  fill: #ff6b09;
}
@media screen and (min-width: 578px) {
  .doing__section .doing__icon {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
.doing__section .doing__item:hover .doing__icon,
.doing__section .doing__item:focus .doing__icon,
.doing__section .doing__item:hover .doing__subtitle,
.doing__section .doing__item:focus .doing__subtitle,
.doing__section .doing__item:hover .doing__about,
.doing__section .doing__item:focus .doing__about {
  fill: #ffffff;
  color: #ffffff;
}
.doing__section .doing__item:hover .doing__subtitle::after,
.doing__section .doing__item:focus .doing__subtitle::after {
  background-color: #ffffff;
}

.programm__section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 537px;
  background-color: #111518;
}
@media screen and (min-width: 768px) {
  .programm__section {
    padding-top: 60px;
    padding-bottom: 253px;
  }
}
@media screen and (min-width: 1354px) {
  .programm__section {
    padding-bottom: 363px;
    padding-top: 120px;
  }
}

@media screen and (min-width: 1354px) {
  .programm__underline {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 277px;
    background-color: #ffffff;
  }
}

.container {
  position: relative;
}
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.programm__title {
  margin: 0px 0px 43px 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .programm__title {
    margin: 0px 0px 52px 0px;
    font-size: 26px;
    text-align: left;
  }
}
@media screen and (min-width: 1354px) {
  .programm__title {
    margin-bottom: 160px;
    font-size: 46px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .programm__scroll {
    padding-left: 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1353px) {
  .programm__scroll {
    padding-left: 127px;
  }
}
@media screen and (min-width: 1354px) {
  .programm__scroll {
    display: flex;
  }
}

.programm__scroll::before {
  position: absolute;
  display: inline-block;
  content: "";
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  height: 1158px;
  top: 80px;
  left: 94px;
}
@media screen and (min-width: 353px) {
  .programm__scroll::before {
    height: 1130px;
  }
}
@media screen and (min-width: 768px) {
  .programm__scroll::before {
    height: 660px;
    top: 95px;
    left: 85px;
  }
}
@media screen and (min-width: 1354px) {
  .programm__scroll::before {
    display: none;
  }
}

.programm__margin {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .programm__margin {
    margin-bottom: 0px;
  }
}
.programm__margin-last {
  margin-bottom: 50px;
}

.programm__heading3 {
  margin-top: 0;
  position: relative;
  width: 100%;
}
.programm__heading3::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #ff6b09;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: 8px;
  left: -31px;
}
@media screen and (min-width: 768px) {
  .programm__heading3::before {
    left: -67px;
  }
}
@media screen and (min-width: 1354px) {
  .programm__heading3::before {
    top: -69px;
    left: 0px;
    width: 16px;
    height: 16px;
  }
}

.programm__heading3 {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 2;
  max-width: 280px;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1354px) {
  .programm__heading3 {
    font-size: 20px;
    line-height: 1.43;
  }
}

@media screen and (min-width: 768px) {
  .programm__ul {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 1354px) {
  .programm__ul {
    display: block;
    padding-top: 25px;
  }
}

@media screen and (min-width: 768px) {
  .programm__li.indent1 {
    width: 226px;
  }
}
@media screen and (min-width: 1354px) {
  .programm__li.indent1 {
    width: 252px;
  }
}

@media screen and (min-width: 768px) {
  .programm__li.indent2 {
    width: 205px;
  }
}

.programm__heading4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.649;
  color: #ff6b09;
}
.programm__heading4.last {
  margin-bottom: 10px;
}
@media screen and (min-width: 1354px) {
  .programm__heading4 {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.programm__text-item {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .programm__text-item {
    margin-bottom: 30px;
  }
}

.programm__text {
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  opacity: 0.5;
  color: #b9b9b9;
}
@media screen and (min-width: 1354px) {
  .programm__text {
    max-width: 240px;
    font-size: 18px;
    line-height: 1.56;
  }
}

.programm__section-image {
  position: absolute;
  opacity: 0.5;
  right: 0;
  height: 137px;
  width: 120px;
  top: 1335px;
}
@media screen and (max-width: 270px) {
  .programm__section-image {
    display: none;
  }
}
@media screen and (min-width: 577px) and (max-width: 767px) {
  .programm__section-image {
    right: 5px;
    width: 384px;
    top: 1165px;
  }
}
@media screen and (min-width: 768px) {
  .programm__section-image {
    position: relative;
    opacity: 0.5;
    width: 384px;
    left: 363px;
    top: -150px;
  }
}
@media screen and (min-width: 1354px) {
  .programm__section-image {
    position: absolute;
    opacity: 0.5;
    width: 760px;
    left: -187px;
    top: 541px;
  }
}
.programm__section-image img {
  position: absolute;
}

.programm__chosen {
  display: inline;
  color: #ffffff;
}
@media screen and (min-width: 578px) {
  .programm__chosen {
    margin: 50px 0px 30px 0px;
    max-width: 100%;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
  }
}
@media screen and (min-width: 1354px) {
  .programm__chosen {
    display: none;
  }
}

.programm__chosen_div {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1353px) {
  .programm__chosen_div {
    max-width: 688px;
    height: auto;
  }
}
@media screen and (min-width: 1354px) {
  .programm__chosen_div {
    max-width: 1354px;
    bottom: 300px;
  }
}
@media screen and (min-width: 768px) {
  .programm__chosen_div {
    height: auto;
  }
}

.programm__container.section {
  position: absolute;
  width: 100%;
  left: auto;
  right: auto;
  height: 638px;
  bottom: -14%;
}
@media screen and (min-width: 340px) {
  .programm__container.section {
    width: 100%;
  }
}
@media screen and (min-width: 578px) {
  .programm__container.section {
    bottom: -15%;
  }
}
@media screen and (min-width: 768px) {
  .programm__container.section {
    bottom: -28%;
  }
}
@media screen and (min-width: 1354px) {
  .programm__container.section {
    bottom: -35%;
  }
}

.programm__chosen_list {
  padding: 20px 14px 20px 30px;
  background-color: #fff;
  font-weight: bold;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 768px) {
  .programm__chosen_list {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 118px 25px 98px;
  }
}
@media screen and (min-width: 1354px) {
  .programm__chosen_list {
    padding: 70px 82px 70px 84px;
  }
}

.programm__chosen_li-margin {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .programm__chosen_li-margin {
    width: calc((100% - 20px) / 2);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .programm__chosen_li-margin {
    margin-bottom: 20px;
  }
  .programm__chosen_li-margin:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1353px) {
  .programm__chosen_li-margin {
    width: calc((100% - 20px) / 2);
    margin-bottom: 30px;
  }
  .programm__chosen_li-margin:nth-child(2n+1) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1354px) {
  .programm__chosen_li-margin {
    width: calc((100% - 80px) / 3);
    margin-right: 40px;
    margin-bottom: 32px;
  }
  .programm__chosen_li-margin:nth-child(3n) {
    margin-right: 0px;
  }
  .programm__chosen_li-margin:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}
.programm__chosen_li-margin .programm__chosen_number {
  line-height: 1.649;
  color: #ff6b09;
}
@media screen and (min-width: 320px) and (min-width: 1354px) {
  .programm__chosen_li-margin .programm__chosen_number.margin {
    width: calc((100% - 80px) / 3);
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 320px) {
  .programm__chosen_li-margin .programm__chosen_number .programm__chosen_number {
    line-height: 1.649;
    margin: 0;
    color: #ff6b09;
  }
  .programm__chosen_li-margin .programm__chosen_number .programm__chosen_number.margin {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 320px) and (min-width: 1354px) {
  .programm__chosen_li-margin .programm__chosen_number .programm__chosen_number {
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 98px;
  }
}

.programm__chosen_item {
  font-size: 14px;
  line-height: 1.43;
  color: #111518;
  margin: 0;
}
@media screen and (min-width: 1354px) {
  .programm__chosen_item {
    font-size: 20px;
    line-height: 1.2;
  }
}

.teacher__section {
  padding-top: 270px;
}
@media screen and (min-width: 768px) {
  .teacher__section {
    padding-top: 302px;
  }
}
@media screen and (min-width: 1354px) {
  .teacher__section {
    padding-top: 329px;
  }
}

.teacher__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .teacher__title {
    font-size: 26px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1354px) {
  .teacher__title {
    margin-bottom: 50px;
    font-size: 46px;
  }
}

@media screen and (min-width: 768px) {
  .teacher__container {
    display: flex;
  }
}
@media screen and (min-width: 1354px) {
  .teacher__container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .teacher__img img {
    width: 243px;
    align-self: baseline;
  }
}
@media screen and (min-width: 1354px) {
  .teacher__img img {
    width: 530px;
  }
}

.teacher__name {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .teacher__name {
    margin-top: 0;
  }
}
@media screen and (min-width: 1354px) {
  .teacher__name {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.teacher-experience__list {
  padding-top: 20px;
  border-top: 1px solid #b9b9b9;
}

.teacher-experience__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  padding-left: 26px;
  position: relative;
}
.teacher-experience__item:not(:last-child) {
  margin-bottom: 25px;
}
@media screen and (min-width: 1354px) {
  .teacher-experience__item:not(:last-child) {
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1354px) {
  .teacher-experience__item {
    font-size: 16px;
  }
}

.orange-mark {
  position: absolute;
  height: 17px;
  width: 15px;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .teacher-education {
    width: 402px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1354px) {
  .teacher-education {
    width: 642px;
    padding-left: 30px;
  }
}

.teacher-education__about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  color: #b9b9b9;
  margin-top: 0;
  margin-bottom: 25px;
}
@media screen and (min-width: 1354px) {
  .teacher-education__about {
    margin-bottom: 16px;
    font-size: 18px;
  }
}
.teacher-education__about:first-of-type::before {
  margin-top: 23px;
  margin-bottom: 23px;
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ff6b09;
}
@media screen and (min-width: 1354px) {
  .teacher-education__about:first-of-type::before {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.teacher-education__link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  text-decoration: underline;
  color: #ff6b09;
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1354px) {
  .teacher-education__link {
    padding-top: 20px;
  }
}
.teacher-education__link:hover, .teacher-education__link:focus {
  text-decoration: none;
}

.guarantee__section {
  padding-top: 50px;
}
@media screen and (min-width: 1354px) {
  .guarantee__section {
    padding-top: 130px;
  }
}

.guarantee__container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .guarantee__container {
    width: 768px;
  }
}
@media screen and (min-width: 1354px) {
  .guarantee__container {
    width: 1354px;
  }
}

.guarantee__title {
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1354px) {
  .guarantee__title {
    font-size: 46px;
    margin-bottom: 50px;
  }
}

.guarantee__terms {
  background-color: #f1f1f1;
  padding-top: 30px;
  padding-bottom: 31px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1354px) {
  .guarantee__terms {
    padding: 30px 50px 30px 79px;
  }
}
@media screen and (min-width: 1354px) {
  .guarantee__terms {
    padding: 50px 112px 45px 112px;
  }
}

.guarantee__list {
  position: relative;
}

.guarantee__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3d3d3d;
  padding-left: 36px;
  position: relative;
}
.guarantee__item:not(:last-child) {
  margin-bottom: 23px;
}
@media screen and (min-width: 1354px) {
  .guarantee__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.guarantee__item .guarantee__star:hover::after {
  overflow: visible;
  opacity: 1;
}
.guarantee__item:not(:last-child)::after {
  position: absolute;
  display: inline-block;
  content: "";
  border-width: 1px;
  border-color: #b9b9b9;
  border-style: dashed;
  width: 1px;
  height: 90%;
  top: 27px;
  left: 7px;
}
@media screen and (min-width: 768px) and (max-width: 1354px) {
  .guarantee__item:not(:last-child)::after {
    height: 85%;
    top: 24px;
    left: 7px;
  }
}
@media screen and (min-width: 1354px) {
  .guarantee__item:not(:last-child)::after {
    height: 75%;
    top: 35px;
    left: 10px;
  }
}
@media screen and (min-width: 1354px) {
  .guarantee__item {
    font-size: 20px;
  }
}

.guarantee__star {
  color: #ff6b09;
  position: relative;
}
.guarantee__star::after {
  display: block;
  content: "При условии посещения 80% занятий и выполнения 100% заданий";
  width: 250px;
  position: absolute;
  font-size: 12px;
  padding: 10px;
  bottom: 18px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  overflow: hidden;
  transition: overflow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .guarantee__star::after {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .guarantee__star::after {
    width: 250px;
    bottom: 14px;
    right: unset;
    left: 0;
  }
}

.guarantee__span {
  color: #ff6b09;
}

.guarantee__icon {
  position: absolute;
  height: 20px;
  width: 15px;
  left: 0;
  top: 0;
}
@media screen and (min-width: 1354px) {
  .guarantee__icon {
    height: 30px;
    width: 22px;
  }
}

.reviews-container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #ffffff;
}

.reviews-list {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.reviews-scroll {
  display: inline-flex;
  align-items: center;
}

.reviews-slide {
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  padding: 30px 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .reviews-slide {
    padding: 40px;
    margin-bottom: 30px;
    max-width: 688px;
  }
}
@media screen and (min-width: 1354px) {
  .reviews-slide {
    padding: 50px 112px 51px 82px;
    margin-bottom: 40px;
    max-width: 1090px;
  }
}

@media screen and (min-width: 768px) {
  .reviews-item {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .reviews-item-icon {
    width: 150px;
    margin-right: 46px;
  }
}

@media screen and (min-width: 768px) {
  .reviews-item-content {
    width: 412px;
    text-align: left;
  }
}
@media screen and (min-width: 1354px) {
  .reviews-item-content {
    width: 706px;
  }
}

.reviews-header {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 40px;
}
@media screen and (min-width: 1354px) {
  .reviews-header {
    font-size: 46px;
    margin-bottom: 50px;
  }
}

.reviews-img-big {
  width: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .reviews-img-big {
    width: 150px;
  }
}

.reviews-vk {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.reviews-item-header {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  color: #ff6b09;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .reviews-item-header {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1354px) {
  .reviews-item-header {
    font-size: 30px;
    line-height: 1.23;
  }
}

.reviews-univer {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #b9b9b9;
  margin-bottom: 10px;
}
@media screen and (min-width: 1354px) {
  .reviews-univer {
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 20px;
  }
}

.reviews-review {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0em;
  color: #3d3d3d;
}
@media screen and (min-width: 1354px) {
  .reviews-review {
    font-size: 18px;
    line-height: 1.56;
  }
}

.reviews-link {
  display: inline-block;
  color: #ff6b09;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .reviews-dot + .reviews-dot {
    margin-left: 30px;
  }
}

.reviews-left:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .reviews-left {
    position: absolute;
    top: 280px;
    left: 25px;
  }
}
@media screen and (min-width: 1354px) {
  .reviews-left {
    top: 330px;
    left: 35px;
  }
}

.reviews-right:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .reviews-right {
    position: absolute;
    top: 280px;
    right: 25px;
  }
}
@media screen and (min-width: 1354px) {
  .reviews-right {
    top: 330px;
    right: 35px;
  }
}

.reviews-dot:hover {
  cursor: pointer;
}

.reviews-dot.active {
  border-radius: 50%;
  border: 2px solid #ff6b09;
}

.registration__section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #111518;
  background-image: linear-gradient(to right, rgba(3, 3, 3, 0.726), rgba(3, 3, 3, 0.726)), url(/background.004d778f.jpg);
  background-repeat: no-repeat;
  background-position: 80% 25%;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .registration__section {
    max-width: 100%;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1354px) {
  .registration__section {
    max-width: 1680px;
    height: auto;
    background-position: 85% 80%;
  }
}

.registration-color1 {
  color: #ff6b09;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .registration-color1 {
    font-size: 26px;
  }
}
@media screen and (min-width: 1354px) {
  .registration-color1 {
    font-size: 46px;
    line-height: 130%;
  }
}

.registration-color2 {
  color: #ff6b09;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .registration-color2 {
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (min-width: 1354px) {
  .registration-color2 {
    font-size: 30px;
    line-height: 37px;
  }
}

.registration-text1 {
  font-style: normal;
  font-size: 14px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .registration-text1 {
    font-size: 26px;
    margin-right: 40px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1354px) {
  .registration-text1 {
    font-size: 46px;
    line-height: 130%;
  }
}

.registration-text2 {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .registration-text2 {
    font-size: 14px;
    line-height: 17px;
    margin-right: 40px;
    margin-left: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1354px) {
  .registration-text2 {
    font-size: 30px;
    line-height: 37px;
    padding-top: 50px;
    padding-bottom: 56px;
  }
}

.registration-lable {
  width: 100%;
}
@media screen and (min-width: 320px) {
  .registration-lable {
    max-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .registration-lable {
    width: 390px;
  }
}
@media screen and (min-width: 1354px) {
  .registration-lable {
    height: 70px;
    width: 470px;
    font-size: 20px;
    line-height: 24px;
  }
}

.registration-input {
  width: 100%;
  height: 48px;
  color: white;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  padding: 16px 28px 15px 28px;
  margin-right: auto;
  margin-left: auto;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
}
.registration-input::-webkit-input-placeholder {
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .registration-input {
    max-width: 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1353px) {
  .registration-input {
    width: 390px;
  }
}
@media screen and (min-width: 1354px) {
  .registration-input {
    height: 70px;
    width: 470px;
    font-size: 20px;
    line-height: 24px;
  }
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
input:-ms-input-placeholder {
  color: white;
}

.registration-form1 {
  padding-bottom: 20px;
}

.registration-form2 {
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .registration-form2 {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .reg-button {
    padding-top: 30px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1354px) {
  .reg-button {
    padding-top: 80px;
    padding-bottom: 62px;
  }
}

.registration-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 48px;
  background: #ff6b09;
  border-style: none;
  cursor: pointer;
}
.registration-button:hover, .registration-button:focus {
  background-color: #ffffff;
}
@media screen and (min-width: 320px) {
  .registration-button {
    max-width: 280px;
  }
}
@media screen and (min-width: 1354px) {
  .registration-button {
    max-width: 374px;
    height: 70px;
  }
}

.registration-button-text {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0;
}
.registration-button-text:hover, .registration-button-text:focus {
  color: #ff6b09;
}
@media screen and (min-width: 1354px) {
  .registration-button-text {
    font-size: 14px;
    line-height: 17px;
    padding: 26px;
  }
}

.footer__section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1354px) {
  .footer__section {
    max-width: 1680px;
  }
}

.footer__section-bg {
  background: #111518;
}

.footer__container {
  width: 100%;
  height: 70px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    width: 768px;
  }
}
@media screen and (min-width: 1354px) {
  .footer__container {
    width: 1354px;
  }
}

.footer-copyright {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #b9b9b9;
  display: block;
  text-align: center;
  padding: 21px 0;
}
@media screen and (min-width: 768px) {
  .footer-copyright {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .footer-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer-cont {
    display: flex;
    align-items: center;
    height: 125px;
  }
}

.footer-logo-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .footer-logo-1 {
    margin-right: 203px;
    padding-top: 0;
  }
}

.footer-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 84px;
  height: 30px;
  color: #111518;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    width: 128px;
    height: 45px;
  }
}
.footer-logo .footer-logo-text {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .footer-logo .footer-logo-text {
    font-size: 26px;
    line-height: 1.23;
  }
}
.footer-logo .footer-text {
  margin-top: 3px;
  flex-direction: column;
  font-weight: bold;
  font-size: 5px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .footer-logo .footer-text {
    font-size: 8px;
  }
}
@media screen and (min-width: 768px) {
  .footer-logo .footer-text .footer-text1 {
    color: #ff6b09;
  }
}
.footer-logo .footer-img {
  width: 13.93px;
  height: 19.38px;
  margin: 0 3px;
}
@media screen and (min-width: 768px) {
  .footer-logo .footer-img {
    width: 22px;
    height: 30px;
    margin: 0 3px;
  }
}

.footer-phone-pic {
  margin-right: 10px;
}

@media screen and (min-width: 1354px) {
  .svg__phone {
    width: 30px;
    height: 28.82px;
  }
}

.footer-number {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #111518;
}
@media screen and (max-width: 767px) {
  .footer-number {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1354px) {
  .footer-number {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.23;
  }
}

.footer-contact {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1354px) {
  .footer-contact {
    margin-left: 90px;
  }
}

.footer-instagram {
  width: 40px;
  height: 40px;
  margin: 30px 140px 30px 140px;
}
@media screen and (min-width: 768px) {
  .footer-instagram {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-insta-icon {
    margin-left: 24px;
    position: absolute;
    border-left: 1px solid #b9b9b9;
    height: 40px;
    padding-left: 25px;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */